docs/build
*pyc

# JPEG
*.jpg

# Portable Network Graphics
*.png

# Zipped files 
*.zip

# documentation artifacts
html/*
!html/HTML_DOCS_WILL_BE_GENERATED_HERE

# otherwise CI thinks index not clean
*.resolved
